body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 0 60px;
    z-index: 2;
}

header .language {
    /* text-align: right; */
    width: 10%;
}

main {
    display: flex;
    width: 100%;
}

main .video {
    width: 65%;
    padding: 0 60px;
    position: fixed;
    top: 92px;
}

main .video video {
    border-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

form.power-form {
    width: 25%;
    padding: 20px;
    margin-left: 70%;
    margin-top: 92px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-text p {
    margin-bottom: 10%;
}

.input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
}

.input-form label {
    font-weight: bold;
    margin: 10px 0;
}

.input-form input {
    border-radius: 5px;
    border: none;
    padding: 15px;
    background: rgb(193, 193, 193);
}

.product-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.product-box img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 30vh;
}

.product-text {
    padding-left: 25px;
}

@media (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        padding: 10px;
    }

    header .language {
        width: 10%;
    }

    main {
        flex-direction: column;
    }

    main .video {
        padding: 0;
        width: 100%;
        margin-top: 30px;
        position: relative;
    }

    main .video video {
        width: 110%;
        border-radius: 0;
        height: 50vh;
    }

    form.power-form {
        width: 100%;
        margin-top: 20%;
        margin-left: 0;
    }

    .header-text p {
        margin-bottom: 5%;
    }

    .input-form {
        margin-bottom: 10%;
    }
}