body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* Hero and Nav Section */
.hero {
    position: relative;
    text-align: center;
    color: #fff;
}

#hero-video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 1;
}

.logo img {
    width: 100px;
    /* Adjust the width as needed */
    margin: 0 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    font-size: 20px;
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icons a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.icons i {
    font-size: 20px;
    /* Adjust the icon size as needed */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1 {
    font-size: 36px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 40%;
}

.features {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.feature {
    width: 30%;
    text-align: center;
    border: 1px solid #fff;
    padding: 10px;
}

.buttons {
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    width: 30%;
    padding: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.cta-button.order-now {
    background-color: #fff;
    color: #000;
    margin-right: 30px;
}

.cta-button.consultation {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.cta-button.consultation:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid transparent;
}

/* Electricity For Less */
.next-section {
    background-color: #f5f5f5;
}

.content {
    display: flex;
    justify-content: space-around;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 40px;
    text-align: left;
}

.text-content h1 {
    font-size: 50px;
}

.text-content h2 {
    font-size: 40px;
}

.text-content p {
    font-size: 25px;
    margin-bottom: 20px;
}

.video-container{
    width: 70%;
    margin: 0;
}

.video-container video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.buttons-e {
    display: flex;
    flex-direction: column;
}

.cta-button.learn-more {
    text-align: center;
    background-color: transparent;
    width: 80%;
    border: 3px solid #000;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 25px;
}

.cta-button.learn-more:hover {
    background-color: #000;
    color: #fff;
}

.cta-button.get-started {
    text-align: center;
    width: 80%;
    background-color: #cfcdcd;
    border: 3px solid #cfcdcd;
    color: #000;
}

/* Design Section */
.next-section.flipped {
    background-color: #f5f5f5;
    padding: 0;
    text-align: center;
}

.next-section.flipped .image-container {
    width: 70%;
}

.next-section.flipped .image-container img {
    width: 100%;
    height: 100vh;
}

.next-section.flipped .text-content {
    width: 30%;
    padding: 60px;
    text-align: left;
}

.next-section.flipped .text-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons-de {
    width: 50%;
}

.animation-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* Center the lines horizontally */
    align-items: flex-end;
    /* Align the lines to the bottom of the container */
    height: 10%;
    /* Fill the entire container height */
}

.line {
    width: 3px;
    height: 0;
    background-color: #fff;
    transition: height 0.6s;
    margin: 50px 10px;
}

.text {
    opacity: 0;
    color: #fff;
}

/* Clean Aesthetic Section */
.clean-aesthetic {
    background-color: #000;
    color: #fff;
    /* padding: 100% 0; */
}

.clean-aesthetic .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clean-aesthetic .text-content {
    width: 30%;
    text-align: left;
}

.clean-aesthetic .text-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.clean-aesthetic .image-container {
    width: 50%;
    position: relative;
}

.clean-aesthetic .image-container img {
    width: 100%;
}

.clean-aesthetic .line {
    position: absolute;
    width: 3px;
    background-color: #fff;
    /* top: 0;
    bottom: 0;
    right: 0; */
}

.clean-aesthetic .line1 {
    left: 10%;
}

.clean-aesthetic .line2 {
    left: 40%;
}

.clean-aesthetic .line3 {
    left: 70%;
}

.clean-aesthetic .line-text {
    position: absolute;
    text-align: left;

}

/* Next Section with Black Background */
.next-section.black-bg {
    background-color: #000;
    color: #fff;
    padding: 100px 0;
}

.next-section.black-bg .header {
    text-align: center;
    margin-bottom: 40px;
}

.next-section.black-bg .header h2 {
    font-size: 36px;
}

.next-section.black-bg .header p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

.next-section.black-bg .video-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 40px 0; */
    padding: 0 15%;
}

.next-section.black-bg .video {
    width: 50%;
    padding: 20px;
}

.next-section.black-bg .video video {
    width: 100%;
}

.next-section.black-bg .text-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 40px 0; */
    padding: 0 15%;
}

.next-section.black-bg .picture {
    width: 50%;
    padding: 20px;
}

.next-section.black-bg .picture img {
    width: 100%;
}

/* Hero Image */
.full-width-image {
    width: 100%;
    height: 60vh;
    /* Set the desired height */
}

.full-width-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* Powerwall Section */
.new-section {
    display: flex;
    background-color: #fff;
    padding: 40px;
}

.left-content {
    width: 30%;
    padding-left: 200px;
    justify-content: left;
}

.left-content h1 {
    font-size: 40px;
}

.left-content p {
    font-size: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button-container .cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.button-container .cta-button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}

.right-content {
    display: flex;
    width: 70%;
    align-items: center;
}

.right-content p {
    font-size: 18px;
}

/* Video Section */
.video-section video{
    width: 100%;
    height: 50vh;
    background-color: #000;
    object-fit: cover;
}

/* Power Your Home Section */
.power-section {
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 60px 0;
}

.power-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.power-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.learn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 10px;
}

.learn:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.consultation {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #555;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

.get-updates-link {
    color: #fff;
    font-size: x-large;
    text-decoration: underline;
}

.buttons-end{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.footer-section {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-links a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}
